html {
    position: relative;
    min-height: 100%;
}

.container {
    width: auto;
    max-width: 980px;
    padding: 0 15px;
}

.main-content {
    height: 400px;
}

.file-drop-zone {
    height: auto;
}
